

         

   
    
<div class="whole-container">
  <p style="margin-left: 70rem;color: blue;margin-top: 3rem; "routerLink="/FeedBack">View Feed-></p>
  <div class="cardd" style="display: flex;justify-content: center;margin-top: 3rem;">
    <!-- <p sty>View Feed-></p> -->
 
    <form class="custom-form" style="background-color: white;" [formGroup]="UserForm" novalidate>
      <h2 class="title" style="text-align: center;">Sign up</h2>
      <div class="card-1 p-4" style="width: 25rem;margin-top: 5px;">
        <div class="row g-3">
          <div class="col" style="margin-right: 15px;" style="background-color: transparent;">
            <label for="validationCustom01" class="form-label">First name</label>
            <input type="text" class="form-control"  aria-label="First name" formControlName="fname" [class.is-invalid]="fname.invalid && fname.touched ">
          </div>
          <div class="col">
            <label for="validationCustom02" class="form-label">Last name</label>
            <input type="text" class="form-control"  aria-label="Last name" formControlName="lname" [class.is-invalid]="lname.invalid && lname.touched " >
          </div>
        </div>
        <div style="margin-top: 15px;">
          <label for="validationCustom02" class="form-label">DOB</label>
            <input type="date" formControlName="dob" style="margin-left: 10px;">
        </div>
        
        
      <div>
          <label for="customEmail">Email</label>
          <input type="email" class="form-control" id="customEmail" formControlName="email" [class.is-invalid]="email.invalid && email.touched ">
      </div>
      <!-- <div class="form-group">
          <label for="customPassword">Password</label>
          <input type="password" class="form-control" id="customPassword">
      </div> -->
      <div class="col">
        <label for="validationCustom02" class="form-label">Phone-number</label>
        <input type="text" class="form-control"   formControlName="mobileno" [class.is-invalid]="mobileno.invalid && mobileno.touched ">
      </div>
      <div >
          <label for="customAddress">Address</label>
          <input type="text" class="form-control" id="customAddress" placeholder="1234 Main St"  formControlName="address" [class.is-invalid]="address.invalid && address.touched ">
      </div>

      <div class="row g-3">
        <div class="col" style="margin-right: 15px;">
          <label for="validationCustom01" class="form-label">City</label>
          <input type="text" class="form-control"  aria-label="First name"  formControlName="city" [class.is-invalid]="city.invalid && city.touched ">
        </div>
        <div class="col">
          <label for="validationCustom02" class="form-label">State</label>
          <input type="text" class="form-control"  aria-label="Last name" formControlName="state" [class.is-invalid]="state.invalid && state.touched ">
        </div>
      </div>
       <div class="col-md-3">
    <label for="validationCustom05" class="form-label">Zip</label>
    <input type="text" class="form-control" id="validationCustom05" formControlName="zip" [class.is-invalid]="zip.invalid && zip.touched ">

  </div>
      <div class="form-check">
        <input class="form-check-input" type="radio"  id="flexRadioDefault1"  value="Prepaid" name="service" formControlName="service" [class.is-invalid]="service.invalid && service.touched ">
        <label class="form-check-label" for="flexRadioDefault1">
          Prepaid
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio"  id="flexRadioDefault2" value="Postpaid" name="service" checked formControlName="service" [class.is-invalid]="service.invalid && service.touched ">
        <label class="form-check-label" for="flexRadioDefault2">
          Postpaid
        </label>
      </div>
      <div class="container mt-4">
        <h3>Select a Plan:</h3>
        <select class="form-control" formControlName="plans" [class.is-invalid]="service.invalid && service.touched ">
          <option value="select plan">--Select plan--</option>
            <option value="399">399 Plan</option>
            <option value="699">699 Plan</option>
            <option value="999">999 Plan</option>
            <option value="1699">1699 Plan</option>
        </select>
    </div>
      
     
     <!-- <button class="transparent-button-1" style="background: #0C7B93;color: black;margin-left: 30px;width: 200px;justify-content: center;align-items: center;" routerLink="/usage">Check usage</button> -->
      <input type="submit" class="btn" value="Sign up" (click)="submit()" style="background: #0C7B93;color: black;    margin-left: 8rem;
      margin-top: 1rem;" />
    </div>
  </form>
  </div>
 
</div>
         

