/* *{
    background-color:#ffffff ;
} */
.cardd{
    background-color: white;
    width: 28rem;
    margin: auto;
    border-radius: 30px;
    box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
    
}
.whole-container{
        height: 45.6rem;
    width: 100%;
    background-color: #F5F5F5;
}