

<!-- <header class="main-header">
   
</header>
<div class="l-holy-grail">
    
	<main class="l-holy-grail__content">
        <div class="card w-75 mb-3">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Button</a>
            </div>
          </div>
    </main>
 

    
	<nav class="l-holy-grail__nav">Nav</nav>
	<aside class="l-holy-grail__ads">Aside</aside>
</div>
<footer class="main-footer">@richirrim</footer> -->
<app-user-navbar></app-user-navbar>
<body class="holy-grail">
    <header>
      <!-- <p>Holy Grail Layout</p> -->
      <!-- <app-navbar (GotoLogin)="Redirectapp($event)"></app-navbar> -->
    </header> 
    <main class="hg-main" >
      <section class="hg-content" style="max-width: 50%;">
    
        <div class="card w-120 mb-3" style="margin-top: 50px;   border-radius: 30px;">
            <div class="card-body">
              <h5 class="card-title" >{{user.fname}}</h5>
              <p class="card-text">True {{user.service}} 5G</p>
              <p class="card-text">{{user.mobileno}}</p>
              <p class="card-text">Last used on Motorola EDGE 40</p>

              
            </div>

            
          </div>

          <div class="card w-120 mb-3" style="margin-top: 20px;   border-radius: 30px;">
            <div class="card-body">
                <p class="card-text">5G</p>
              <b><h5 class="card-title" >Unlimited</h5></b>
              <button class="transparent-button" style="background: #0C7B93;color: white;width: 400px;margin-left: 95px;"routerLink="/usage">Check Usage</button>

          
            </div>

            
          </div>
          <div class="card w-120 mb-3" style="margin-top: 20px;   border-radius: 30px;">
            <div class="card-body">
                <p class="card-text">Plan</p>
              <h3 class="card-title" >{{plan|currency:'INR'}}</h3>
              <p class="card-text">Expires on <small>{{user.validto}}</small></p>
              <!-- <p class="card-text">+2 active plans</p> -->
              <div class="card-body" style="display: flex; justify-content: space-between; ">
                <button class="transparent-button-1" style="background: #0C7B93;color: black;margin-left: 200px;width: 200px;justify-content: center;align-items: center;" routerLink="/prebill"  *ngIf="user.isfresher||!value">Pay Bill</button>
                <!-- <button class="transparent-button-1" style="margin-right: 30px;width: 200px;justify-content: center;align-items: center;" routerLink="/plans">View Plan</button> -->
            </div>

            

              
              
            </div>

            
          </div>
       
        <div class="card w-120 mb-3" style="margin-top: 20px;   border-radius: 30px;">
            <div class="card-body">
                <p class="card-text">Data</p>
              <h5 class="card-title" >  {{datavalue.dataleft| number:'1.0-2'}} GB <small>left of {{datavalue.data}} GB</small> </h5>
              <div class="progress" role="progressbar" aria-label="Example 1px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 10px">
                <div class="progress-bar" [style.width.%]="(datavalue.dataleft / datavalue.data) * 100"></div>
              </div>
              <div class="card-body" style="display: flex; justify-content: space-between; ">
                <button class="transparent-button-1" style="background: #0C7B93;color: black;margin-left: 30px;width: 200px;justify-content: center;align-items: center;" routerLink="/usage">Check usage</button>
                <button class="transparent-button-1" style="margin-right: 30px;width: 200px;justify-content: center;align-items: center;" routerLink="/plans">Plans</button>
            </div>
            </div>
          </div>

          
        <div class="card w-120 mb-3" style="margin-top: 20px; border-radius: 30px;background: #E5F1F7;">
            <div class="card-body">
                <p class="card-text"  >Setup AetherixAutoPay</p>
                
                <span >></span>
                <p style="color: red;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Launching Soon</p>

           
            </div>
          </div>
         
          
      </section>
      <div class="hg-sidebar hg-sidebar-1">
       
            <div class="card w-300 mb-3" style="margin-top: 50px; border-radius: 30px;">
                <div class="card-body">
                    <p class="card-text">Setup Aetherix autopay</p>
                    <h5 class="card-title">One tap to pay all your bills</h5>
                    <!-- <div class="progress" role="progressbar" aria-label="Example 1px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 10px">
                        <div class="progress-bar" style="width: 25%"></div>
                    </div> -->
                    <p style="color: red;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Launching Soon</p>
                </div>
            </div>
        
      </div>
      <div class="hg-sidebar hg-sidebar-2" >
        <!-- <div class="card w-200 mb-3" style="margin-top: 30px; border-radius: 30px;">
            <div class="card-body">
                <p class="card-text">Data</p>
                <h5 class="card-title">1.74 GB<small>left of 2 GB</small></h5>
                <div class="progress" role="progressbar" aria-label="Example 1px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 10px">
                    <div class="progress-bar" style="width: 25%"></div>
                </div>
            </div>
        </div> -->
        <div class="card w-500 mb-3" style="margin-top: 50px;  border-radius: 20px;background: #E5F1F7; ">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../../../assets/qrcode.png" class="img-fluid rounded-start" alt="..."  style= "height: 60%;margin-left: 8px;margin-top: 3rem;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    <!-- <i class="bi bi-person-circle"></i> -->
                    
                  <p class="card-text">Aetherix</p>
                  <h5 class="card-title">One app for everything Aetherix</h5>
                  <p class="card-text"><small class="text-body-secondary">Scan the QR code to use exclusive features like vouchers, HelloAetherix, Coupons and much more</small></p>
                </div>
              </div>
            </div>
          </div>
    </div>
    
    </main>  
    <footer>
      <p>Footer</p>
    </footer>  
  </body>  
 <router-outlet></router-outlet>
