
<div class="navigation">
    <button class="hamburger" (click)="show()">
        <div id="bar1" class="bar"></div>
        <div id="bar2" class="bar"></div>
        <div id="bar3" class="bar"></div>
    </button>

    <nav>
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/adminregister">Admin register</a></li>


            <li><a routerLink= "/FeedBack">Admin feedback</a></li>
            <!-- <li><a routerLink= "/contactUs">contact us</a></li> -->
        </ul>
    </nav>

</div>

