

<!-- <app-user-navbar></app-user-navbar> -->

	<head >
		<meta charset="utf-8">
		<title>View FeedBack</title>
		
		<link rel="license" href="https://www.opensource.org/licenses/mit-license/">
	
	</head>
    <div></div>
	<body  >
		<header>
            <p><strong class="table" style="margin-left: 20rem;font-size: 20px;font-weight: 20px;" >View FeedBack</strong></p>
            <table class="inventory">
				<thead>
					<tr>
						<th><span>Name</span></th>
						<!-- <th><span>Plan</span></th> -->
						<th><span>Feedback</span></th>
						<th><span>Email</span></th>
						<th><span>Phone Number</span></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let i of feedback ">
						<td>{{i.name}}</td>
						<!-- <td><span>Experience Review</span></td> -->
						<td><span data-prefix></span><span>{{i.message}}</span></td>
						<td><span>{{i.email}}</span></td>
						<td><span data-prefix></span><span>{{i.phoneno}}</span></td>
					</tr>
				</tbody>
			</table>
          
			<!-- <h1>Bill Summary</h1><br>
			<address>
             
				<p>{{user.fname}} {{user.lname}}</p>
             
				<p style="font-size: 100px;font: bold 100% sans-serif; letter-spacing: 0.1em;" ><b>{{bill.fromdate}} - {{bill.todate}}</b></p>
				
			</address>
			<span><img alt="" src="http://www.jonathantneal.com/examples/invoice/logo.png"><input type="file" accept="image/*"></span> -->
		</header>
        <article>
            <a style="margin-left: 38rem;color: blue;" routerLink="/" ><span><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg></span> Back to main</a>
        </article>
		<!-- <article>
			<h1>Recipient</h1>
			<address> -->
				<!-- s<p>Some Company<br>c/o Some Guy</p> -->
			<!-- </address> -->
			<!-- <table class="meta">
				<tr>
					<th><span >Invoice #</span></th>
					<td><span>{{invoiceNo}}</span></td>
				</tr>
				<tr>
					<th><span>Date</span></th>
					<td><span>{{todaydate | date: 'yyyy-MM-dd'}}</span></td>
				</tr>
				 <tr>
					<th><span>Amount Due</span></th>
					<td><span id="prefix"></span><span>{{bill.currentcharge |currency:'INR'}}</span></td>
				</tr> -->
			<!-- </table>  -->
			<!-- <table class="inventory">
				<thead>
					<tr>
						<th><span>Active Service</span></th> -->
						<!-- <th><span>Plan</span></th> -->
						<!-- <th><span>Current Charge</span></th>
						<th><span>Previous Balance</span></th>
						<th><span>tax</span></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><span>{{bill.service}}</span></td> -->
						<!-- <td><span>Experience Review</span></td> -->
						<!-- <td><span data-prefix></span><span>{{bill.currentcharge |currency:'INR'}}</span></td>
						<td><span>{{user.paymentdue|currency:'INR'}}</span></td>
						<td><span data-prefix></span><span>{{bill.tax|currency:'INR'}}</span></td>
					</tr>
				</tbody>
			</table> -->
			<!-- <a class="add">+</a> -->
			<!-- <table class="balance">
				<tr>
					<th><span >Total</span></th>
					<td><span data-prefix></span><span>{{bill.totalamount|currency:'INR'}}</span></td>
				</tr>
				<tr>
					<th><span>(After Due Date)</span></th>
					<td><span data-prefix>$</span><span>{{user.paymentdue|currency:'INR'}}</span></td>
				</tr>
				<tr>
					<th><span>Unbilled Amount</span></th>
					<td><span data-prefix></span><span>{{0|currency:'INR'}}</span></td>
				</tr>
			</table>
		</article>
		<aside>
            
			<h1><span >Additional Notes</span></h1>
			<div >
				<p>A finance charge of 1.5% will be made on unpaid balances after 30 days.</p> -->
                <!-- <div >
                    <button type="button" class="btn" style="background-color: #0C7B93;color: white;border-radius: 20px;margin-top: 10px;width: 100px;height: 35px;" (click)="payNow()">Pay Now</button>
                    
                </div> -->
                
             

	</body>
  
    <!-- <div #paymentRef ;z-index: 100;margin-bottom: 20rem;position: absolute;"></div> -->

    