<!-- <div class="circ">
    <div class="load">Loading . . . </div>
    <div class="hands"></div>
    <div class="body"></div>
    <div class="head">
      <div class="eye"></div>
    </div>
  </div> -->/


  <!-- <app-user-navbar></app-user-navbar>

  <div class="hero">
    <div class="parallax-layer layer-6"></div>
    <div class="parallax-layer layer-5"></div>
    <div class="parallax-layer layer-4"></div>
    <div class="parallax-layer bike-1"></div>
    <div class="parallax-layer bike-2"></div>
    <div class="parallax-layer layer-3"></div>
    <div class="parallax-layer layer-2"></div>
    <div class="parallax-layer layer-1"></div>
  </div> -->